.FilterMenu {
    bottom: 0;
    width: 98%;
    height: 5%;
    border-bottom: 1px solid #aaa;
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
}


.FilterMenu a {
    width: 30%;
    text-decoration: none;
    color: slategrey;
    text-transform: uppercase;
    font-size: larger;
}

.FilterMenu a:hover {
    color: black;    
    cursor: pointer;
    border-bottom: 3px solid lightblue
}
