.User {
  width: 35%;
  height: 80%;
  padding: 100px 0 0 100px;
}

.User {
  font-size: large;
}

.bidAskBox {
  display: flex;
  justify-content: space-around;
  
}

h3 .bids {
  color: green;
}

h3 .asks {
  color: red;
}