.App {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.mainSection {
  width: 80vw;
  height: 100%;
}

.userSection {
  height: 30%;
  display: flex;
  flex-direction: row;
  width: inherit;
  align-items: space-around;
  justify-content: space-around;
}

.sideBar {
  width: 20vw;
  height: 100vh;
}

.sideBar main {
  height: 100%;
}

.sideBar article {
  overflow: scroll;
}