.App {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.mainSection {
  width: 78vw;
  height: 100%;
}

.userSection {
  height: 30%;
  display: flex;
  flex-direction: row;
  width: inherit;
  align-items: space-around;
  justify-content: space-around;
}

.sideBar {
  width: 20vw;
  height: 100vh;
}

.sideBar .SideNav {
  height: 100%;
}

.sideBar article {
  overflow: scroll;
  height: 85%;
}

.title {
  color: #3f3f55;
  font-size: xx-large;
}

.title span {
  font-size: 50px;
}

h1 {
  color: slategrey;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 35px;
  margin-top: -30px;
}