.columns {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

main {
  /*overflow: scroll;*/
  height: 65%;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    height: 12px;
}

main span {
  position: absolute;
  z-index: -1;
  font-size: 2060%;
  opacity: .15;
}

.spread {
  color: purple;
}