.columns {
  width: 98%;
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.container {
  height: 65%;
  margin-bottom: 350px;
}

.menu, .mini-menu {
  width: 89%;
  height: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu {
    margin-left: 50px;
}

.container span {
  position: absolute;
  z-index: -1;
  font-size: 2060%;
  opacity: .15;
}

.spread {
  width: 75%;

  /*background: radial-gradient(white, slategrey);*/
  color: purple;
  box-shadow: 1px 1px 42px #aaa;

  font-size: larger;
  /*border-radius: 100px;*/
  text-align: center;
  margin: 35px auto 15px auto;
  padding: 15px;
}

.mini-menu {
  margin-left: 20px;
}
