.columns {
  width: 98%;
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.container {
  height: 65%;
  margin-bottom: 350px;
}

.menu, .mini-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 89%;
  height: 12px;
}

.menu {
    margin-left: 50px;
}

.container span {
  position: absolute;
  z-index: -1;
  font-size: 2060%;
  opacity: .15;
}

.spread {
  color: purple;
}

.mini-menu {
  margin-left: 20px;
}
